<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the BookRepository Bean -->
    <bean id="bookRepository" class="com.library.repository.BookRepository" />

    <!-- Define BookService with BOTH Constructor and Setter Injection -->
    <bean id="bookService" class="com.library.service.BookService">
        <!-- Constructor Injection for the library name -->
        <constructor-arg value="The Grand City Library" />

        <!-- Setter Injection for the repository object -->
        <property name="bookRepository" ref="bookRepository" />
    </bean>

</beans>